.body {
  font-family: "Neue Montreal";
}
#hero-container {
  background-color: #c7d0d9;
}
#carousel-hero-text {
  font-size: 150.38px;
  font-weight: 500;
  line-height: 180.45px;
}
.bg-home {
  background: #f4f7fa;
}

.bg-works {
  background: #c7d0d9;
}

.bg-footer {
  background: #0b0c0e;
}

.text-dark-gray {
  color: #3c3d3e;
}
