.body {
  font-family: "Neue Montreal";
}
#hero-container {
  background-color: #c7d0d9;
}
#carousel-hero-text {
  font-size: 150.38px;
  font-weight: 500;
  line-height: 180.45px;
  animation: scroll 10s linear infinite;
}
.bg-home {
  background: #f4f7fa;
}

.bg-works {
  background: #c7d0d9;
}

.bg-footer {
  background: #0b0c0e;
}

.text-dark-gray {
  color: #3c3d3e;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.scrolling-text {
  /* display: inline-block;
  white-space: nowrap; */
  animation: scroll 10s linear infinite;
}

.overlay-button {
  cursor: pointer;
}
